<div class="container-fluid pt-2">
  <div class="user-profile">
    <tweet-card [tweet]="this.tweet"></tweet-card>

    <div class="row">
      <div class="col-sm-12 ml-2 mb-3">
        <h5>Comentários</h5>
      </div>

      <div class="col-sm-12">
        <div class="card" *ngFor="let comentario of comentarios">
          <div class="profile-img-style">
            <div class="row">
              <div class="col-sm-8">
                <div class="media">
                  <img class="img-thumbnail rounded-circle mr-3" src="https://api.adorable.io/avatars/285/ola-mundo.png"
                    alt="Avatar">
                  <div class="media-body align-self-center">
                    <h5 class="mt-0 user-name">{{comentario.usuario.nome}}</h5>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 align-self-center">
                <div class="float-sm-right">
                  <small>{{comentario.data | date:'fullDate'}}</small>
                </div>
              </div>
            </div>
            <hr>

            <p>{{comentario.conteudo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>