<div class="container-fluid pt-2">
  <div class="user-profile" *ngIf="this.tweet === undefined">
    <div>Carregando...</div>
  </div>

  <!-- TODO: deve ter uma maneira mais elegante de fazer isso... -->
  <div class="user-profile" *ngIf="this.tweet === null">
    <div>Tweet não encontrado.</div>
  </div>

  <div class="user-profile" *ngIf="this.tweet">
    <tweet-card [tweet]="this.tweet" [inputComentarAtivo]="true" (comentarioAdicionado)="this.onComentarioAdicionado($event)"></tweet-card>

    <div class="row">
      <div class="col-sm-12 ml-2 mb-3">
        <h5>
          <span *ngIf="this.comentarios === undefined">
            Carregando comentários...
          </span>

          <span *ngIf="this.comentarios && this.comentarios.length > 0">
            {{this.comentarios.length}} comentários
          </span>

          <span *ngIf="this.comentarios && this.comentarios.length === 0">
            Não há comentários neste tweet.
          </span>
        </h5>
      </div>

      <div class="col-sm-12">
        <div class="card" *ngFor="let comentario of this.comentarios">
          <div class="profile-img-style">
            <div class="row">
              <div class="col-sm-8">
                <div class="media">
                  <img class="img-thumbnail rounded-circle mr-3" src="https://api.adorable.io/avatars/285/ola-mundo.png"
                    alt="Avatar">
                  <div class="media-body align-self-center">
                    <a class="mt-0 user-name" [routerLink]="'/usuario/' + comentario.usuario.id">{{comentario.usuario.nome}}</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 align-self-center">
                <div class="float-sm-right">
                  <small>{{comentario.data | date: 'dd/MM/yyyy HH:mm'}}</small>
                </div>
              </div>
            </div>
            <hr>

            <p>{{comentario.conteudo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>