<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
          <h5 class="m-b-0">Bem vindo, Leonardo!</h5>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <!-- TODO: só mostrar caso o usuário esteja autenticado -->
        <form class="card-body" #form="ngForm" (ngSubmit)="this.onAdicionarTweet(form)">
          <textarea class="form-control" name="conteudo" placeholder="No que você está pensando?" rows="4" ngModel></textarea>

          <div class="mt-3 mb-3 float-right">
            <button type="submit" class="btn btn-primary" [disabled]="this.publicandoTweet">
              {{this.publicandoTweet ? 'Publicando...' : 'Tweetar'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 m-b-30">
      <h5 class="m-b-0">Tweets Recentes</h5>
    </div>
    <!-- TODO: alguns estilos do tweet-card dependem da classe user-profile... Mudar isso... -->
    <div class="col-sm-12 user-profile">
      <span *ngIf="this.tweetsRecentes && this.tweetsRecentes.length === 0">
        Nenhum tweet encontrado!
      </span>

      <tweet-card *ngFor="let tweet of this.tweetsRecentes" [tweet]="tweet" (tweetExcluido)="this.onTweetExcluido(tweet)"></tweet-card>
    </div>
  </div>
</div>
