<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h4>Bem vindo, Leonardo!</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <!-- TODO: só mostrar caso o usuário esteja autenticado -->
        <form class="card-body" #form="ngForm" (ngSubmit)="this.onAdicionarTweet(form)">
          <textarea class="form-control" name="conteudo" placeholder="No que você está pensando?" rows="4" ngModel></textarea>

          <div class="mt-3 mb-3 float-right">
            <button type="submit" class="btn btn-primary" [disabled]="this.publicandoTweet">
              {{this.publicandoTweet ? 'Publicando...' : 'Tweetar'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
