<div class="card">
  <div class="profile-img-style">
    <div class="row">
      <div class="col-sm-8">
        <div class="media">
          <img class="img-thumbnail rounded-circle mr-3" src="https://api.adorable.io/avatars/285/ola-mundo.png"
            alt="Avatar">
          <div class="media-body align-self-center">
            <a class="mt-0 user-name" [routerLink]="['/usuario/', tweet.usuario.id]">{{tweet.usuario.nome}}</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 align-self-center">
        <div class="float-sm-right">
          <small>{{tweet.data | date:'fullDate'}}</small>
        </div>
      </div>
    </div>
    <hr>

    <p>{{tweet.conteudo}}</p>

    <hr>

    <div class="mt-4">
      <!-- TODO: Por agora, o input de comentar só é o mostrado na página de tweet. -->
      <form *ngIf="this.inputComentarAtivo; else comentar" #form="ngForm" (ngSubmit)="this.onAdicionarComentario(form)">
        <textarea class="form-control" name="conteudo" placeholder="Escreva seu comentário" rows="4" ngModel>

        </textarea>

        <div class="mt-3 float-right">
          <button type="submit" class="btn btn-primary">Comentar</button>
        </div>
      </form>

      <ng-template #comentar>
        <label class="m-0">
          <a [routerLink]="['/tweet/', tweet.id]"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Comentar</a>
        </label>
      </ng-template>
    </div>
  </div>
</div>