<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Listagem de Usuários
          <small>Texto adicional caso precise</small></h3>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a [routerLink]="'/home'"><i class="fa fa-home"></i></a>
          </li>
          <li class="breadcrumb-item active">Usuários</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Idade</th>
              <th scope="col">Data de nascimento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{usuario.nome}}</td>
              <td>{{usuario.idade}}</td>
              <td>{{usuario.dataNascimento | date}}</td>
            </tr>
          </tbody>
        </table>
          <hr>
        </div>

          <div class="row">

          <div class="col-sm-6">
            <div class="count-registros">{{totalUsuarios}} registros encontrados</div>
          </div>

          <div class="col-sm-6">
            <ngb-pagination
              class="float-right"
              [(page)]="seletor.pagina"
              [pageSize]="seletor.limite"
              [collectionSize]="totalUsuarios"
              (pageChange)="pesquisar()"></ngb-pagination>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
