<div class="container-fluid pt-2">
  <div class="user-profile">
    <div class="row">
      <span *ngIf="this.usuario === undefined;">Carregando</span>
      <span *ngIf="this.usuario === null;">Usuário não encontrado</span>
    </div>

    <div class="row profile-container" *ngIf="this.usuario;">
      <div class="col-sm-12">
        <div class="card hovercard text-left">
          <div class="user-image">
            <div class="avatar">
              <img alt="Avatar" src="https://api.adorable.io/avatars/285/ola-mundo.png">
            </div>
          </div>

          <div class="info">
            <div class="row">
              <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                <div class="user-designation">
                  <div class="title">
                    <a href="usuario/{{usuario.id}}">{{usuario.nome}}</a>
                  </div>
                  <div class="desc mt-2">Descrição :D</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO: Mostrar textarea para tweetar caso o usuário que esteja visualizando seja o mesmo do perfil? -->

      <div class="col-sm-12 ml-2 mb-3">
        <h5>Tweets</h5>
      </div>

      <div class="col-sm-12">
        <tweet-card *ngFor="let tweet of tweets" [tweet]="tweet"></tweet-card>
      </div>

    </div>
  </div>
</div>